*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
 
}

/* side panel */
.container{
    display: grid;
    grid-template-rows: minmax(200px,15vh) 85vh;
    grid-template-columns: minmax(300px,0.7fr) 5fr;
}

.sidebar a{
       color: white;
       font-weight: bold;
       font-size: 1.5rem;
}

.sidebar li{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.firstPart li:first-child
{
    margin-bottom: 30px;
    color: white;
       font-weight: bold;
       font-size: 2rem;
}

.sidebar .title > p{
       color: white;
       font-weight: bold;
       font-size: 2rem;
}

.sidebar{
    grid-row: 1/ -1;
    grid-column: 1;
    background-color: rgb(44, 163, 231);
    display: grid;
    align-content:start;
    gap: 60px;
    padding: 20px 10px;
}

.firstPart, .secondPart{
    display: grid;
    gap: 20px;
}

/* Top Header */

.Nav{
    background-color: rgb(223, 179, 179);
    display: grid;
    grid-template-rows:  1fr 1fr;
    padding:15px 20px;
}

.Nav > .topPart {
    align-self: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*search */
.Nav > .topPart > .search{
    grid-row: 1 / 2;
    display: flex;
    gap: 10px;
    align-items: center;

}

.Nav > .topPart > .search >img
{
    
}

.Nav > .topPart > .search > input
{
    min-width: 500px;
    min-height: 30px;
    width: 30vw;
    border-radius: 10px;
}

/* Profile settings*/

.Nav > .topPart > .profile{
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap:30px;
    margin-right: 50px;
}

.Nav > .topPart > .profile .PP{
    height: 2.5rem;
    width: 2.5em;
    border-radius: 50%;
}

.Nav > .topPart > .profile p
{
    font-size: 1.2rem;
    font-weight: bold;
}

.Nav > .bottomPart 
{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.Nav > .bottomPart > .greeting{
    grid: 2 / 3;
    display: flex;
    align-items: center;
    gap:20px;
}

.Nav > .bottomPart > .greeting img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.Nav > .bottomPart .greetingText{
    font-size: 1.2rem;
}

.Nav > .bottomPart .userName
{
    font-weight: bold;
    font-size: 1.5rem;
}

.Nav > .bottomPart > .buttons{
    display: flex;
    align-items : start;
    gap: 30px;
}
.Nav > .bottomPart > .buttons button{
    height: 3rem;
    width: 6rem;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
}
